requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.3.0

numpy
faiss-cpu==1.11.0.post1
duckduckgo-search==6.3.5

pypdf==4.3.1
python-dotenv==1.0.1

gradio
fastapi
uvicorn
pydantic

sentence-transformers==3.0.1
transformers==4.56.2
huggingface-hub==0.35.0